<template>
  <div id="home">
      <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <h4>Tiempo restante:</h4>
                <span id="time"></span>
                <hr>
                <h4>Invitado</h4>
                <hr>
                <a href="#" class="btn btn-primary btn-sm npregunta" :key="pregunta.id" v-for="(pregunta, index) in preguntas" @click="cargarPregunta(pregunta)"> {{ index+1 }}</a>
                <hr>
                <a href="#" v-show="!empezar" class="btn btn-success" @click="empezarSimulacion">Empezar Simulacion</a>
                <a href="#" v-show="empezar" class="btn btn-warning">Terminar Simulacion</a>
              </div>
            </nav>
            <div class="col-md-10">
                    <br>
              <!-- <div class="row">
                <div class="offset-md-9 col-md-3">
                  <a href="#" class="btn btn-primary">&lt; Anterior</a>
                  <a href="#" class="btn btn-primary">Siguiente &gt;</a>
                </div>
              </div> -->
                    <br>
              <div class="row">
                <div class="col-md-12" id="preguntas">
                  <pregunta :pregunta="pregunta" v-show="pregunta != null"/>
                </div>              
              </div>
            </div>
          </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="ModalFinalizar" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="ModalFinalizarLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalFinalizarLabel">Simulacion Finalizada</h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Correctas </h5>
                    </div>
                    <div class="card-body">     
                      {{ preguntasCorrectas() }}                 
                    </div>
                  </div>  
                </div>
                <div class="col-lg-4">
                  <div class="card text-white bg-danger mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Incorrectas </h5>
                    </div>
                    <div class="card-body">     
                      {{ preguntasIncorrectas() }}                 
                    </div>
                  </div>  
                </div>
                <div class="col-lg-4">
                  <div class="card text-white bg-warning mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Sin Responder </h5>
                    </div>
                    <div class="card-body">              
                        {{ preguntasSinResponder() }}        
                    </div>
                  </div>  
                </div>
              </div>   
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header card-primary">
                        <h5 class="card-title">Solucionario</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <table class="table">
                            <thead>
                              <tr>
                                <td>Pregunta</td>
                                <td>Tu Respuesta</td>
                                <td>Respuesta Correcta</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr :key="pregunta.id" v-for="pregunta in preguntas">
                                <td>{{ pregunta.descripcion }}</td>
                                <td>{{ mostrarRespuesta(pregunta) }}</td>
                                <td>{{ mostrarCorrecta(pregunta) }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>  
                </div>
              </div>           
            </div>
            <div class="modal-footer">
              <!-- <router-link to="simulacion" class="btn btn-primary" >Go to Splash</router-link> -->
              <button type="button" class="btn btn-primary" @click=" volverEmpezar()" data-dismiss="modal">Repetir Simulacion</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Pregunta from './Pregunta.vue'
const $ = require('jquery')
window.$ = $

export default {
  name: "home",
  components: { Pregunta },
  data() {
    return {
     preguntas: [
        {
          id: 1,
          titulo: "pregunta 1",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 2,
          titulo: "pregunta 2",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 3,
          titulo: "pregunta 3",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 4,
          titulo: "pregunta 4",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 5,
          titulo: "pregunta 5",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 6,
          titulo: "pregunta 6",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 7,
          titulo: "pregunta 7",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 8,
          titulo: "pregunta 8",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 9,
          titulo: "pregunta 9",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 10,
          titulo: "pregunta 10",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        },
        {
          id: 11,
          titulo: "pregunta 11",
          descripcion: "De las siguiente obras pictóricas, ¿cuáles fueron pintadas por Leonardo da Vinci?",
          respuestas: [
            {
              idPregunta: 1, 
              idRespuesta: 1,
              descripcion: "La Gioconda o Mona Lisa ",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 2,
              descripcion: "La Última Cena",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 3,
              descripcion: "La Virgen de las Rocas",
              esCorrecto: false,
              escogido: false
            },
            { 
              idPregunta: 1, 
              idRespuesta: 4,
              descripcion: "La cúpula de la Capilla Sixtina",
              esCorrecto: true,
              escogido: false
            }
          ]
        }
      ],
     pregunta: null,
     empezar: false,
     duration: 10
    };
  },
  methods: {
    cargarPregunta(pregunta) {
      // let pregunta = this.preguntas.find( (el) => {  return id == el.id })
      if(!this.empezar){
        this.empezar = true;
        this.empezarSimulacion();
      }
      this.pregunta = pregunta
    },
    empezarSimulacion(){
      this.empezar = true
      let display = document.querySelector('#time');
      var timer = this.duration, minutes, seconds;
      var interval = setInterval(function () {
          minutes = parseInt(timer / 60, 10)
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = minutes + ":" + seconds;
          console.log("timer", timer)
          if (timer > 0) {
              timer--;
          }else{          
            this.empezar = false;
            $('#ModalFinalizar').modal('show') 
            clearInterval(interval);
          }
      }, 1000)
    },
    preguntasCorrectas(){
      let correctas = 0;
      this.preguntas.forEach( (pregunta) => {
        pregunta.respuestas.forEach( (respuesta) => {
          if (respuesta.escogido && respuesta.esCorrecto) {
            correctas++;
          }
        })
      })
      return correctas
    },
    preguntasIncorrectas(){
      let incorrectas = 0;
      this.preguntas.forEach( (pregunta) => {
        pregunta.respuestas.forEach( (respuesta) => {        
          if (respuesta.escogido && !respuesta.esCorrecto) {
            incorrectas++;
          }
        })
      })
      return incorrectas
    },
    preguntasSinResponder(){
      let sinresponder = 0;
      this.preguntas.forEach( (pregunta) => {
        let respondido = false;
        pregunta.respuestas.forEach( (respuesta) => {    
          if (!respuesta.escogido) {
            respondido = false;
          }else{
            respondido = true;
          }          
        })
        if(!respondido){
          sinresponder++
        }        
      })
      return sinresponder
    },
    mostrarRespuesta(pregunta){     
     let respuesta = null;
      pregunta.respuestas.forEach( (respuesta) => {
        if (respuesta.escogido) {
          respuesta = respuesta.descripcion
          console.log(respuesta.descripcion)
        }
      })
      return respuesta
    },
    mostrarCorrecta(pregunta){
      let correcta = null;
      pregunta.respuestas.forEach( (respuesta) => {
        if (respuesta.esCorrecto) {
          correcta = respuesta.descripcion
        }
      })
      return correcta
    },
    volverEmpezar(){
      this.empezar = false; 
      this.pregunta = null;    
      this.preguntas.forEach( (el) => {
        el.respuestas.forEach( (respuesta) => {
        respuesta.escogido = false;
        })
      })      
    }
  }
};
</script>

<style>

/*
 * Sidebar
 */

.sidebar {
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.npregunta{
  margin-right: 2px;
  margin-bottom: 2px;
}
.sidebar-sticky {
  position: relative;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
</style>
