<template>
    <div class="card">
        <div class="card-header card-primary">
            <h5 class="card-title">{{ pregunta.titulo }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text" id="descripcion">{{ pregunta.descripcion }}</p>
            <ul class="list-group">
                <li class="list-group-item" :key="respuesta.id" v-for="respuesta in pregunta.respuestas">
                    <input type="radio" 
                        name="respuesta" 
                        value="${respuesta.esCorrecto}" 
                        @click="escogerRespuesta(respuesta)"
                        :checked="respuesta.escogido"/> 
                    {{ respuesta.descripcion }}
                </li>
            </ul>
        </div>
    </div>  
</template>
<script>
export default {
    name: 'pregunta',
    props: ['pregunta'],
    methods: {
        escogerRespuesta(respuesta) {
            respuesta.escogido = true
        } 
    }
}
</script>

